.headerTitle{
    background-color: blueviolet;
    padding: 20px;
}
.textStyle{
    color:whitesmoke;
    font-size: 28px;
    font-weight: bold;
}
.dollerTitleStyle{
    color:black;
    font-weight: bold;
}