.card{
    background-color: white;
    max-width: 21rem;
}

.prefession{

    font-size: 14px;
}
.btnStyle{
    width: 200px;
    background-color: blueviolet;
    border-radius: 6px;
    color: whitesmoke;
    font-weight: bold;
    border-color: blueviolet;
}
.button{
    padding: 5px;
    cursor: pointer;
}
.cart{
  background-color: yellow;
}
.imageStyle{
   align-items: center;
   margin-top: 5px;
}
.image{
    width: 100px;
}